@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

:root {
  --font-primary: 'Poppins', sans-serif;
}

body {
  margin: 0;
  font-family: var(--font-primary);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden; 
}

* {
  box-sizing: border-box;
  font-family: var(--font-primary); /* Apply Poppins to all elements */
}

html {
  font-family: var(--font-primary);
}

h1, h2, h3, h4, h5, h6, p, a, span, div {
  font-family: var(--font-primary);
}

.poppins {
  font-family: var(--font-primary);
}
