.topFooter {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #000;
    color: #fff;
}

.topFooter div {
    flex: 1;
    margin: 0 20px;
}

.topFooter h3,
.topFooter h2 {
    margin: 10px 0;
}

.topFooter p {
    margin: 5px 0;
}

.topFooter .inputContainer {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.topFooter input {
    padding: 10px;
    border: 1px solid #ccc;
    flex: 1;
}

.currncy {
    display: flex;
    align-items: center;
    margin: 0; 
    padding: 0;
}



.topFooter button {
    padding: 10px 20px;
    border: 2px solid white;
    background-color: #000;
    color: white;
    cursor: pointer;
    margin-left: 10px;
}

.topFooter button:hover {
    background-color: #fefefe;
    color: #000;
}

.topFooter .smallText {
    font-size: 12px;
    color: #666;
}

.divider1 {
    display: none;
}

.divider2 {
    display: none;
}

@media (max-width: 768px) {
    .topFooter {
        flex-direction: column;
        padding: 0px;

    }

    .topFooter div {
        margin: 0px;
    }

    .divider1 {
        margin: 16px 0;
        width: 100%;
        display: block;
    }

    .divider2 {
        margin: 16px 0;

        color: #666;
        display: block;
        width: 100%;
    }

    .smallText {
        display: none;
    }
}