.navBar {
    display: flex;
    justify-content: center;
    gap: 1.25rem; 
    padding: 2.5rem 0 1.875rem 0; 
}

.navButton {
    background: none;
    border: none;
    font-size: 1rem; 
    font-weight: bold;
    color: black;
    cursor: pointer;
    margin: 0 3.125rem; 
}

.navButton:hover {
    text-decoration: underline;
}

.menuButton {
    display: none;
    background-color: transparent;
    border: none;
    font-size: 1rem; 
    font-weight: bold;
    color: black;
    cursor: pointer;
}

.menu {
    display: flex;
    gap: 1.25rem; 
    transition: max-height 0.3s ease;
}

.dropdownMenu {
    display: flex;
    flex-direction: column;
    gap: 0.625rem; 
}

.desktopMenu {
    display: none;
}

@media (max-width: 48rem) { 
    .navBar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1.25rem; 
    }

    .dropdownMenu {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 6.25rem; 
        border: 0.125rem solid black; 
        left: 1.25rem; 
        right: 15.625rem; 
        z-index: 1000;
        background: rgba(255, 255, 255, 0.95);
        padding: 1.25rem; 
        box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1); 
    }

    .menuButton {
        display: block;
    }

    .menu {
        display: none;
    }

    .menu.open {
        display: block;
    }

    .dropdownMenu .navButton {
        display: block;
    }

    .desktopMenu {
        display: none;
    }
}

@media (min-width: 48.0625rem) { 
    .desktopMenu {
        display: flex;
    }

    .menuButton {
        display: none;
    }

    .menu {
        display: flex;
    }
    
    .dropdownMenu {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 6.25rem; 
        border: 0.125rem solid black; 
        left: 1.25rem; 
        right: 18.75rem; 
        z-index: 1000;
        background: rgba(255, 255, 255, 0.95);
        padding: 1.25rem; 
        box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1); 
    }
}
