.navBar {
    display: flex;
    justify-content: center;
    gap: 1.25rem; /* 20px / 16 */
    padding: 2.5rem 0 1.875rem 0; /* 40px 0 30px 0 / 16 */
}

.navButton {
    background: none;
    border: none;
    font-size: 1rem; /* 16px / 16 */
    font-weight: bold;
    color: black;
    cursor: pointer;
    margin: 0 3.125rem; /* 50px / 16 */
}

.navButton:hover {
    text-decoration: underline;
}

.menuButton {
    display: none;
    background-color: transparent;
    border: none;
    font-size: 1rem; /* 16px / 16 */
    font-weight: bold;
    color: black;
    cursor: pointer;
}

.menu {
    display: flex;
    gap: 1.25rem; /* 20px / 16 */
    transition: max-height 0.3s ease;
}

.dropdownMenu {
    display: flex;
    flex-direction: column;
    gap: 0.625rem; /* 10px / 16 */
}

.desktopMenu {
    display: none;
}

@media (max-width: 48rem) { /* 768px / 16 */
    .navBar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1.25rem; /* 20px / 16 */
    }

    .dropdownMenu {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 6.25rem; /* 100px / 16 */
        border: 0.125rem solid black; /* 2px / 16 */
        left: 1.25rem; /* 20px / 16 */
        right: 15.625rem; /* 250px / 16 */
        z-index: 1000;
        background: rgba(255, 255, 255, 0.95);
        padding: 1.25rem; /* 20px / 16 */
        box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1); /* 0 4px 8px / 16 */
    }

    .menuButton {
        display: block;
    }

    .menu {
        display: none;
    }

    .menu.open {
        display: block;
    }

    .dropdownMenu .navButton {
        display: block;
    }

    .desktopMenu {
        display: none;
    }
}

@media (min-width: 48.0625rem) { /* 769px / 16 */
    .desktopMenu {
        display: flex;
    }

    .menuButton {
        display: none;
    }

    .menu {
        display: flex;
    }
    
    .dropdownMenu {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 6.25rem; /* 100px / 16 */
        border: 0.125rem solid black; /* 2px / 16 */
        left: 1.25rem; /* 20px / 16 */
        right: 18.75rem; /* 300px / 16 */
        z-index: 1000;
        background: rgba(255, 255, 255, 0.95);
        padding: 1.25rem; /* 20px / 16 */
        box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1); /* 0 4px 8px / 16 */
    }
}
